/* 전체 컨테이너 스타일 */
.netflix-like-movies {
  padding: 20px;
  background-color: #141414; /* 넷플릭스 스타일 배경색 */
  color: white; /* 텍스트 색상 */
}

/* 각 영화 행의 타이틀 */
.movie-row h3 {
  font-size: 1.5rem; /* 타이틀 크기 */
  margin-bottom: 10px; /* 타이틀과 영화 목록 간의 여백 */
  color: #fff; /* 타이틀 색상 */
  z-index: 2; /* 타이틀이 다른 요소보다 위에 표시되도록 z-index 설정 */
  position: relative; /* z-index 적용을 위해 position 설정 */
}

/* 영화 포스터 목록 컨테이너 */
.movie-row__posters {
  display: flex;
  overflow-x: auto; /* 가로 스크롤 허용 */
  padding-bottom: 10px; /* 스크롤바와 포스터 사이 여백 */
}

.movie-row__posters::-webkit-scrollbar {
  display: none; /* 웹킷 브라우저에서 스크롤바 숨기기 (선택 사항) */
}

/* 개별 영화 포스터 스타일 */
.movie-row__poster {
  margin-right: 10px;
}

.movie-row__poster img {
  width: 150px; /* 이미지 크기 고정 */
  object-fit: cover; /* 이미지 비율 유지하면서 크기에 맞추기 */
  border-radius: 4px; /* 포스터 모서리 둥글게 */
}

.movie-row__poster p {
  text-align: center;
  color: white;
}